*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-image: url(/public/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    margin: 100px auto;
    padding-top: 60px;
    padding-bottom: 60PX;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    text-align: center; 
    max-width: 55%;
}
.box{
    padding-top: 10px;
    padding-bottom: 10px;
}
.input{
    outline: none;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
    transition: all 50ms;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    
}
.input:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(3, 169, 244);

}
.select_box{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    outline: none;
    padding: 0px 10px;
    cursor: pointer;
    transition: all 50ms;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: #455A64; 
}
.select_box:hover{
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgb(3, 169, 244);
}
.btn{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    transition: all 50ms;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgb(3, 169, 244);
}